<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Reveal Bootstrap Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
        rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">

    <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="body">
    <div id="medicine">

        <div v-if="showSpec" class="text-center" style="position: absolute; width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.2); z-index: 1000;" @click="closeSpec">
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); background-color: white; width: 600px; height: 500px;" @click.stop>
              <div style="position: absolute; top: 10px; right: 15px; cursor: pointer;" @click="closeSpec"><i class="icon fa-times"></i></div>
              <div>
                  <h6 style="color:#50d8af;">Contraindications</h6>
                  <p>{{spec.contraindications}}</p>
              </div>
              <div>
                <h6 style="color:#50d8af;">Composition</h6>
                <p>{{spec.composition}}</p>
            </div>
            <div>
                <h6 style="color:#50d8af;">Recomended Intake</h6>
                <p>{{spec.recomendedIntake}}</p>
            </div>
            <div>
                <h6 style="color:#50d8af;">Substitude medicaments</h6>
                <ul class="list-group">
                    <li class="list-group-item text-center" v-for="sub in spec.substitutes" :key="index"
                        style="display: flex; justify-content: space-between;">
                        {{sub}}
                    </li>
                </ul>
            </div>
            </div>
          </div>

        <!--==========================
    Top Bar
  ============================-->
        <section id="topbar" class="d-none d-lg-block">
            <div class="container clearfix">
                <div class="contact-info float-left">
                    <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">apoteka.isa2021@gmail.com</a>
                    <i class="fa fa-phone"></i> +1 5589 55488 55
                </div>
                <div class="social-links float-right">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </section>

        <!--==========================
    Header
  ============================-->
        <header id="header">
            <div class="container">

                <div id="logo" class="pull-left">
                    <h1><a href="index.html" class="scrollto">Apote<span>ke</span></a></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
                </div>

                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="index.html">Home</a></li>
                        <li><a href="#about">Pharmacies</a></li>
                        <li><a href="medicine.html">Medicine</a></li>
                        <li><a href="register.html">Register</a></li>
                        <li><a href="login.html">Login</a></li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </header><!-- #header -->

        <!--==========================
    Intro Section
  ============================-->

        <main id="main" class="text-center">
            <div class="w-75 d-inline-block">
				<div class="content">
								<header>
									<h3>Medicines available in pharmacies</h3>
									<table class="table table-light" >
										<tr class="table-light" style = "text-align:center">
											<th class="table-light">Medicine name</a></th>
										</tr>
										<tr class="table-light"style = "text-align:center" v-for="(value, key) in listAllMedicines">
											<td class="table-light">{{this.listAllMedicines[value].name}}</td>
										</tr>
									</table>
								</header>
				</div>
                <div class="form-group">
                    <input class="form-control mt-5 mb-3" v-model="medicineName" type="text" placeholder="Medicine name">
                    <button class="btn" @click="search">Submit</button>
                </div>
                <div>
                    Filter by grade: 
                    <select v-model="minGrade" class="w-25 form-control d-inline-block">
                        <option value="0">0+</option>
                        <option value="1">1+</option>
                        <option value="2">2+</option>
                        <option value="3">3+</option>
                        <option value="4">4+</option>
                        <option value="5">5+</option>
                        <option value="6">6+</option>
                        <option value="7">7+</option>
                        <option value="8">8+</option>
                        <option value="9">9+</option>
                        <option value="10">10+</option>

                    </select>
                </div>
                <div>
                    <ul class="list-group mt-5">
                        <li class="list-group-item text-center"
                        style="display: flex; justify-content: space-between;">
                            <span style="width: 14.28%;">Pharmacy name</span>
                            <span style="width: 14.28%;">Address</span>
                            <span style="width: 14.28%;">Grade</span>
                            <span style="width: 14.28%;">Price</span>
                            <span style="width: 14.28%;">Quantity</span>
							<span style="width: 14.28%;">Medicine type</span>
							<span style="width: 14.28%;">Medicine form</span>
                            <span style="width: 14.28%;">Medicine name</span>
                            <span style="width: 14.28%;"></span>
                        </li>
                        <li class="list-group-item text-center" v-for="medicine in medicines" :key="index"
                            style="display: flex; justify-content: space-between;">
                            <span style="width: 14.28%;">{{medicine.pharmacy.name}}</span>
                            <span style="width: 14.28%;">{{medicine.pharmacy.address}}</span>
                            <span style="width: 14.28%;">{{medicine.pharmacy.grade}}</span>
                            <span style="width: 14.28%;">{{medicine.medicine.price}}</span>
                            <span style="width: 14.28%;">{{medicine.medicine.quantity}}</span>
							<span style="width: 14.28%;">{{medicine.medicine.type.name}}</span>
							<span style="width: 14.28%;">{{medicine.medicine.form.name}}</span>
                            <span style="width: 14.28%;">{{medicine.medicine.name}}</span>
                            <span style="width: 14.28%;"><button class="btn" @click="getSpec(medicine.medicine.id)">Spec</button></span>
                        </li>
                    </ul>
                </div>
            </div>
        </main>

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    </div>
    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/magnific-popup/magnific-popup.min.js"></script>
    <script src="lib/sticky/sticky.js"></script>
	<script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>
    <script src="axios.js"></script>
    <script src="medicine.js"></script>

</body>

</html>